name: Test

concurrency:
  group: test-${{ github.head_ref }}
  cancel-in-progress: true

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Test
        run: |
          nix develop -c cargo test

      - name: Test with derive
        run: |
          nix develop -c cargo test --features=derive

      - name: Run example with ratatui
        run: |
          nix develop -c cargo run
